[submodule "zsh-completions"]
	path = Configs/zsh/.zsh/plugins/zsh-completions
    url = https://github.com/zsh-users/zsh-completions

[submodule "nvim"]
	path = Configs/nvim/.config/nvim
	url = https://github.com/TimTheBig/nvim
